# key for credential encryption
/config/master.key

# log files
/log/*.log

# temp files used by rails and os
/tmp/
/storage/*
!/storage/.keep

# yarn installations
/node_modules
/app/assets/builds/*
!/app/assets/builds/.keep
