= form_with(model: family, local: true) do |form|
  .form-group.mb-3
    = form.label :name, class: "form-label"
    = form.text_field :name,
      required: true,
      class: "form-control w-50"
  .record-actions.mb-5
    = form.submit "Save", class: "action-btn btn btn-success"
