%p{style: "color: green"}= notice

- content_for :title, "Families"

%h1 Families

%div{id: "families"}
  - @families.each do |family|
    = render family
    %p
      = link_to "Show this family", family

= link_to "New family", new_family_path
