.container
  .d-flex.align-items-center.gap-3
    = image_tag "default_avatar.png", class: "rounded", width: 70, height: 70
    .text
      %h3.mt-2.mb-2
        = link_to "#{user.name}", user, style: "text-decoration: none;"
      %strong Birthday:
      = user.birthday