- content_for :title, "Edit Property"
.container.w-50
  .header-card
    .row
      .col-2
      .col-8 
        %h1
          Editing Property: #{@property.name}
      .col-2
        .record-actions.mb-1.justify-content-end
          = button_to "Destroy", family_property_path(@current_family, @property),
            method: :delete,
            class: "action-btn btn btn-danger",
            data: { turbo_confirm: "Are you sure you want to delete this property?" }
  
  .body-card
    = render "form"
    .mt-1
      = link_to "Back", :back

