- content_for :title, "Properties"
.container
  .header-card
    .row
      .col-2
      .col-8
        %h1 Properties
      .col-2
        .record-actions.justify-content-end.align-items-center
          = link_to "New Property", new_family_property_path, class: 'btn btn-primary'

  .body-card
    .h3.mb-3
      Properties
    - if @properties.any?
      %ul.list-group
        - @properties.each do |property|
          .li.list-group-item
            = render property
    - else
      .text-muted No properties added yet.

