- if object.errors.any?
  .alert.alert-danger.alert-dismissible.fade.show
    %strong
      = pluralize(object.errors.count, "error")
      prevented this record from being saved:
    %ul.mb-0.mt-2
      - object.errors.full_messages.each do |message|
        %li
          = message
    %button{ type: "button", class: "btn-close", data: { bs_dismiss: "alert" }, aria: { label: "Close" } }