%html{ lang: "en" }
    %head
        %meta{ charset: "UTF-8" }
        %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
        %title Life Record
    %body
        %div.container.center

            %h1.jumbotron
                .text-center.fw-bold.mt-3
                    Life Record
            - if current_user
                %h5.text-center Welcome back, current_user.first_name
            - else
                %h5.text-center Sign up or Log in
