.document.border-bottom.rounded.position-relative
  .d-flex.justify-content-between.align-items-center.px-2.py-2
    %span
      = link_to document.title,
              document_path(document),
              class: "text-decoration-none fw-bold text-dark stretched-link" 
      .small.text-muted
        = document.updated_at.strftime("%B %d, %Y") || document.created_at.strftime("%B %d, %Y")

    %span.badge.bg-secondary
      = document.document_type