.container
  .header-card
    %h1
      #{@current_family.name}'s Calendar
  .body-card
    - if @current_family.admin?(current_user)
      %button.btn.btn-primary.action-btn.ms-4{
        type: "button",
        data: {
          bs_toggle: "collapse",
          bs_target: "#new-event-form"
        },
        aria: { expanded: "false", controls: "new-event-form" }
      }
        New Event
    .d-flex.gap-3
      .collapse#new-event-form
        = render "events/form", event: @event
      .flex-grow-1
        = render "calendar"