.container
  .header-card
    .row
      .col-2
      .col-8
        %h1
          #{@current_family.name}'s Calendar
      - if @current_family.admin?(current_user)
        .col-2
          .record-actions.justify-content-end
            .btn.btn-success{
              type: "button",
              data: {
                bs_toggle: "modal",
                bs_target: "#new-event-modal"
              } }
              New Event
  .body-card
    %button.btn.btn-primary.ms-4{
      type: "button",
      data: {
        bs_toggle: "collapse",
        bs_target: "#event-filters"
      } }
      Event Filters
    .collapse#event-filters.mt-3
      Filters Coming Soon
    = render "events/form", event: @event

    = render "calendar"