.container
  .header-card
    .row
      .col-10
        %h1
          #{@current_family.name}'s Calendar
      - if @current_family.admin?(current_user)
        .col-2
          // Convert from bootstrap collapse to modal toggle
          %span.btn.btn-primary{
            type: "button",
            data: {
              bs_toggle: "collapse",
              bs_target: "#new-event-form"
            } }
            New Event
  .body-card
    %button.btn.btn-success.ms-4{
      type: "button",
      data: {
        bs_toggle: "collapse",
        bs_target: "#event-filters"
      } }
      Event Filters
    .collapse#event-filters.mt-3
      Filters Coming Soon
    // TODO - change to modal
    .collapse#new-event-form
      = render "events/form", event: @event

    = render "calendar"