.container.w-50
  .header-card
    .row.align-items-center
      .col-2
        .record-actions
          = link_to "Back",
            employment_record_path(@employment_record),
            class: "action-btn btn btn-secondary"
      .col-8.text-center
        %h1 Edit Employment Record
      .col-2

  .body-card
    = render "form"