.container.w-50
  .header-card
    .row.align-items-center
      .col-2
        .record-actions
          = link_to "Back",
            employment_record_path(@employment_record),
            class: "action-btn btn btn-secondary"
      .col-8.text-center
        %h1 Edit Employment Record
      .col-2
        .record-actions.justify-content-end
          = button_to "Delete",
            employment_record_path(@employment_record),
            method: :delete,
            class: "action-btn btn btn-danger",
            data: { turbo_confirm: "Are you sure you want to delete this employment record?" }
  .body-card
    = render "form"