$primary: #1763a1;

.header-card {
  margin-top: 50px;
  border: 1px solid $primary;
  border-radius: 8px;
  padding: 20px;
  background: white;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.record-actions {
  display: flex;
  gap: 10px;
}

.action-btn {
  width: 110px;
}

.body-card {
  margin-top: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background: white;
}