- ui_date = account.next_due_date

.container
  %h3.mt-2.mb-2
    = link_to account.name.titleize,
              family_account_path(@current_family, account),
              class: "text-decoration-none fw-bold stretched-link text-dark"
  .text
    %strong Due date:
    = ui_date.strftime("%B #{ui_date.day.ordinalize}")
